@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

:root {
  --background: #ffffff;
  --foreground: #131313;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.quicksand-all {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.meie-script-regular {
  font-family: "Meie Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(184, 165, 165);
  height: 60px;
  list-style-type: none;
}

.navbar li {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.toppage-title {
  font-size: 80px;
  text-align: center;
  margin-top: 15%;
}

.toppage-link {
  text-align: center;
  margin-top: 40px;
}

.top-title {
  text-align: center;
  margin: 40px;
  color: #755d5d;
}

.blogs-table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.blogs-table tr {
  height: 60px;
}

.blogs-table th {
  padding-right: 120px;
  text-align: left;
}

.blogs-table thead th {
  border-bottom: 1px solid #755d5d;
}

.blogs-table tbody tr:hover {
  background-color: #d4d4d5;
}

.blogs-table tbody tr a:hover {
  cursor: pointer;
}

.blogs-table tbody tr a {
  color: #a20808;
}

.blog-title {
  min-width: 500px;
}

.blog-date {
  text-align: center;
  margin: 40px;
}

.blog-content {
  width: 70%;
  margin: 0 auto;
}

.paragraph {
  margin-bottom: 40px;
}